WebAsistencia/WSViaticos/App_WebReferences/PdfPrinterService/PdfPrinterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Schemas/PdfPrinter/Common" elementFormDefault="qualified" targetNamespace="http://Schemas/PdfPrinter/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="PathSubmodulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
</xs:schema>